:root{
    --color-principal-morado: #2d0140;
    --color-secundario-gris: #eeede7;
    --color-secundario-salmon: #ddb9b9;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    margin-top: 15px;
}

.container--title h1{
    font-family: 'Playfair',sans-serif;
    font-size: 28px;
    width: 250px;
    color: var(--color-secundario-salmon);
}

.container--nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.container--nav img{
    width: 30px;
    height: 30px;
    background-color: var(--color-principal-morado);
}
nav{
    display: none;
    position: absolute;
    top: 26px;
    left: -235px;
    background-color: var(--color-secundario-gris);
    text-align: left;
    padding: 10px ;
    border-radius: 12px;
    width: 50vh;
    height: 70vh;
}

nav ul{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 5px;

}

nav ul li{
    margin-bottom: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-principal-morado);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    
}



/* SECTION QUIEN SOY */

.container--title-community{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}


.container--title-community h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Playfair',sans-serif;
    font-weight: 600;
    color: var(--color-principal-morado);
}

.container-quien--soy{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.container--img-quien-soy {
    display: flex;
    margin: 0 auto;
    justify-content: center;

}

.container--img-quien-soy img{
    width: 90%;
    height: 100%;
    border-radius: 12px;
}

.container--descripcion-quien-soy{
    display: flex;
    flex-direction: column;
}

.container--descripcion-quien-soy h2{
    font-size: 32px;
    text-align: center;
    font-family: 'Playfair',sans-serif;
    font-weight: lighter;
    margin: 20px 0;
    color: var(--color-principal-morado);
}

.container--descripcion-quien-soy p{
    text-align: justify;
    color: var(--color-secundario-salmon);
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 15px;

}

/* HABILIDADES Y PLATAFORMAS */

.container-habilidades--plataformnas{
    display: flex;
    flex-direction: column;
    background-color:var(--color-principal-morado);
    padding: 15px;
}

.container--formacion, .container--habilidades {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.container--formacion  h3 , .container--habilidades h3{
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair',sans-serif;
    border-bottom: 1px solid white;
    width: 150px;
    font-weight: 500;
}

.container--formacion ul li , .container--habilidades ul li{
    list-style: none;
    margin-top: 15px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: left;
}


    /*EXPERIENCIA LABORAL*/

.container--experiencia--laboral{
    padding-top:20px ;
    display: flex;
    flex-direction: column;
    background-color: var(--color-secundario-gris);

}

.container--experiencia--laboral h3{
    font-size: 24px;
    font-family: 'Playfair',sans-serif;
    color: var(--color-principal-morado);
    padding: 10px;
}
.container--experiencia--laboral div{
    border:solid 1px var(--color-principal-morado);
    padding: 10px;
    height: 120px;
    color: var(--color-principal-morado);
    text-align: justify;
    margin-bottom: 8apx;
}

.container--experiencia--laboral div h4{
    font-family: 'Playfair',sans-serif;
    margin-bottom: 8px;
}

.container--experiencia--laboral div h4 p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;

}

 /*HABILIDADES TECNICAS Y PLATAFORMAS */


 .container-habilidades--plataformas{
    display: flex;
    flex-direction: column;
    background-color: var(--color-principal-morado);
    align-items: center;
 }

.container--habilidades--tecnicas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades--img{
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.container--habilidades--tecnicas h3 ,
 .container--plataformas h3 {
    font-size: 30px;
    margin: 20px 0;
    color: white;
}

.container--plataformas {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plataformas--img{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.habilidades--img img , 
.plataformas--img img{
    width: 40px;
    height: 40px;
}


/* PROYECTOS REALIAZADOS */

.container--trabajos--realizados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.container--trabajos--realizados h3 {
    margin-top: 20px;
    font-size: 28px;
    font-family: 'Playfair',sans-serif;
    color: var(--color-secundario-salmon);
}

.container--fundays--tours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

}

.container--title--fundays{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 150px;
    border: 1px  solid var(--color-principal-morado);
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
}

.container--img-fundays {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin: 0 auto;
    gap: 20px;
    width: 100%;
    padding-top: 20px;
}


.container--img-fundays img{
    box-shadow: 5px 10px 15px var(--color-principal-morado);
    width: 80%;
    margin: 0 auto;
}

.container--funciones--fundays{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    gap: 5px;
    margin: 0 auto;
}

.container--funciones--fundays h4{
    font-family: 'Playfair',sans-serif;
    color: var(--color-secundario-salmon);
    font-size: 20px;
    margin-top: 30px;
}

.container--funciones--fundays p{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: var(--color-principal-morado);

}


.container--mentoras--emprendedoras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.container--title--mentoras {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 150px;
    border: 1px solid var(--color-principal-morado);
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    background-color: var(--color-principal-morado);
}

.container--title--mentoras p{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.container--img--mentoras {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    width: 100%;
    padding-top: 20px;
}

.container--img--mentoras img {
    box-shadow: 15px 5px 15px var(--color-secundario-salmon);
    width: 80%;
    margin: 0 auto;
}


.container--funciones--mentoras{
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        gap: 5px;
        margin: 0 auto;
        padding-top: 20px;
    }
    
.container--funciones--mentoras h4{
        font-family: 'Playfair',sans-serif;
        color: var(--color-principal-morado);
        font-size: 20px;
    }
    
.container--funciones--mentoras p{
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        color: var(--color-secundario-salmon);
        font-weight: 500;
}

.container--little--brain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.container--title--little--brain{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 180px;
    border: 1px solid var(--color-secundario-gris);
    border-radius: 20px;
    margin: 0 auto;
    padding: 5px
}

.container--title--little--brain img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}



.container--title--little--brain  p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: var(--color-principal-morado);
    font-size: 14px;
    font-weight: 400;
}

.container--img--little--brain{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    width: 100%;
    padding-top: 20px;
}

.container--img--little--brain img{
    box-shadow: 7px 0px 4px 5px var(--color-secundario-gris);
    width: 80%;
    margin: 0 auto;
}



.container--funciones--little--brain{
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        gap: 5px;
        margin: 0 auto;
        padding-top: 20px;
    }
    
.container--funciones--little--brain h4{
        font-family: 'Playfair',sans-serif;
        color: var(--color-secundario-salmon);
        font-size: 20px;
    }
    
.container--funciones--little--brain p{
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
        color: var(--color-principal-morado);
        font-weight: 500;
}



  /*PLANES DE REDES SOCAILES*/

.container--plan--redes-sociales{
    display:flex;
    flex-direction: column;
}

.plan--redes--title{
    margin-bottom: 20px;
}

.plan--redes--title h2{
    font-size: 28px;
    color: var(--color-principal-morado);
    text-align: center;
    margin: 40px auto;
    font-family: 'Playfair',sans-serif;

}

.plan--redes--title p{
    color: white;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background-color: #2d0140;
    font-family: 'Raleway', sans-serif;

}

.plans-container--slider{
    display: flex;
    width: 100%;
    height: 400px;
    overflow-x: scroll;
   overscroll-behavior-x: contain;
   scroll-snap-type: x proximity;
   gap: 10px;
   margin-top: 20px;
   padding: 20px 10px;
}

.plans-container--card{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    align-items: center;
    min-width: 200px;
    max-width: 400px;
    height: 310px;
    flex-direction: column;
    scroll-snap-align: center;
   margin: 0 auto;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(89,79,30,0.16);
    background-size: 70px , 70px , 60px;
    background-image: url(./src/assets/instagram.png) , url(./src/assets/tiktok.svg)  , url(./src/assets/facebook.svg);
    background-position: left top , right bottom , center ;
    background-repeat: no-repeat;
}

.plans-container--card h3{
    font-size: 20px;
    margin: 0  0 20px 0;
    font-family: 'Playfair',sans-serif;
    font-weight: 400;
    color: var(--color-principal-morado);
    background-color: white;
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 15px 5px 15px var(--color-secundario-salmon);

}

.plans-container--card p{
    font-family: 'Raleway', sans-serif;
    font-size:40px;
    font-weight: bolder;
}

.plans-container--card p span {
    font-weight: lighter;
}

.plans-container--card button {
    margin-top: 25px;
    padding: 1.3em 3em;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.plans-container--card button:hover {
    background-color: var(--color-secundario-salmon);
    color: var(--color-principal-morado);
    transform: translateY(-5px);
    font-weight: 500;

  }
  




.detalles--plan--estandar,
.detalles--plan--full,
.detalles--plan--premium{
    position: absolute;
    background-color: var(--color-principal-morado);
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    height: 310px;

}

.detalles--plan--estandar p ,
.detalles--plan--full p,
.detalles--plan--premium p{
    color: white;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 400;
}

/*RESULTADO DE GESTION DE REDES*/

.container--resultados--redes{
    display: flex;
    flex-direction: column;
    background-color: var(--color-principal-morado);
    margin: 20px auto;
}

.title--resultados--redes{
    font-size: 28px;
    text-align: center;
    color: white;
    padding: 8px;
    font-family: 'Playfair',sans-serif;
    font-weight: 400;
    margin-top: 10px;
    border-bottom: 1px solid white;
}

.container--img--resultados--redes{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
    gap: 20px;
}

.container--img--resultados--redes img{
   width: 100%;
   border-radius: 12px;
   box-shadow: 7px 3px 20px 2px var(--color-secundario-salmon);
}


/* PLANES DE TRÁFICO PAGO */

.container--trafico--pago{
    display: flex;
    flex-direction: column;
}

.container--title-trafico{
    margin-bottom: 20px;
}

.container--title-trafico h3 {
    font-size: 28px;
    color: var(--color-principal-morado);
    text-align: center;
    margin: 40px auto;
    font-family: 'Playfair', sans-serif;
}

.container--title-trafico p {
    color: white;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background-color: #2d0140;
    font-family: 'Raleway', sans-serif;  
}

.plans--container--slider--trafico{
    display: flex;
    width: 100%;
    height: 400px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
}

.plans-container--card--trafico{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 200px;
    max-width: 400px;
    height: 350px;
    flex-direction: column;
    scroll-snap-align: center;
    margin: 0 auto;
    border-radius: 12px;
    padding: 30px;
    background-size:100% ;
    background-image: url(./src/assets/herramientas-gratuitas-medir-trafico-redes-sociales.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    box-shadow: 7px 3px 20px 2px var(--color-secundario-salmon);
    
}

.plans-container--card--trafico:nth-child(2) {
    order: -1;
}

.plans-container--card--trafico h3{
    font-size: 20px;
    margin: 0 0 130px 0;
    font-family: 'Playfair', sans-serif;
    font-weight: 400;
    color: var(--color-principal-morado);
    background-color: white;
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 15px 5px 15px 5px var(--color-secundario-gris);
} 

.plans-container--card--trafico p{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bolder; 
    color: var(--color-principal-morado);
    margin-top: 20px;
}

.plans-container--card--trafico p span{
    font-weight: lighter;
}

.detalles--plan--avanzado--trafico,
.detalles--plan--estandar--trafico{
    position: absolute;
    background-color: var(--color-secundario-salmon);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    height: 350px;
}

.detalles--plan--premiun--trafico{
    position: absolute;
    background-color: var(--color-secundario-salmon);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    text-align: center;
    border-radius: 12px;
    padding: 2px;
    height: 350px;
    font-size: 8px;
}

.detalles--plan--avanzado--trafico p,
.detalles--plan--estandar--trafico p,
.detalles--plan--premiun--trafico p{
    color: var(--color-principal-morado);
    margin: 0 0 5px 0;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 400;
}

.plans-container--card--trafico button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.plans-container--card--trafico button:hover {
    background-color:rgb(218, 46, 181);
    box-shadow: 0px 5px 20px 10px rgb(255, 255, 255);
    color: #fff;
  }



.container--resultado--trafico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.container--resultado--trafico h4{
    font-size: 24px;
    text-align: center;
    color: var(--color-secundario-salmon);
}

.container--img--resultado--trafico {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.container--img--resultado--trafico img{
    min-width: 280px;
    max-width: 400px;
    height: 100px;
    width: 90%;
    margin: 0 auto;
    border-radius: 12px;
}


/*FOOTER*/

.container--contacto {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.container--contacto h3{
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-principal-morado);
}

.container--contacto img{
    width: 280px;
    margin: 0 auto;
    border-radius: 8px;
}



.container--info--contacto {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: var(--color-principal-morado);
    padding: 8px;
    
}

.container--info--contacto h4 {
    font-size: 28px;
    text-align: center;
    color: white;
}

.container--info--contacto p {
    font-size: 16px;
    margin-top: 10px;
    padding: 3px;
    color:var(--color-secundario-salmon);
    font-weight: 400;

}

.container--info--contacto p strong {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.container--info--contacto img {
    width: 50px;
    margin-bottom: 15px;
}

.container--contacto--redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


.container--creador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.container--creador p{
    font-size: 12px;
    color: gray;
    margin-right: 5px;
    

}
.container--creador a img{
    width: 20px;
    height: 20px;
}