header {
    padding: 0 50px;

}
.container--img-quien-soy img {
    width: 400px;
    border-radius: 50%;
}

nav {
    text-align: center;
    height: 70vh;
}

.container-quien--soy{
    flex-direction: row;
    padding: 20px;
    align-items: center;
    animation: linear 5s infinite;

}

.container--descripcion-quien-soy p{
    font-size: 24px;
    font-family: 'Raleway', sans-serif;

}

.container--descripcion-quien-soy{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container--formacion ul li,
 .container--habilidades ul li {
font-size: 20px;
}

.container-habilidades--plataformnas {
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.container--experiencia--laboral {
    color: white;
}

.container--experiencia--laboral h3{
    font-size: 32px;
    text-align: center;

}

.container--experiencia--laboral div h4 {
    font-size: 28px;
}

.container--experiencia--laboral div p{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}


.container--funciones--fundays,
.container--funciones--mentoras,
.container--funciones--little--brain{
    margin: 0 90px;
}


.container--img-fundays,
.container--img--mentoras,
.container--img--little--brain
 {
    flex-wrap: wrap;
    padding: 25px;
    flex-direction: row;
    margin-top: 30px
}

.container--funciones--fundays h4,
.container--funciones--mentoras h4,
.container--funciones--little--brain h4{
    font-size: 28px;
}
.container--funciones--fundays p,
.container--title--mentoras p,
.container--funciones--mentoras p,
.container--title--little--brain p,
.container--funciones--little--brain p
{
    font-size: 20px;
}

.container--title--mentoras{
    height: 200px;
}

.container--title--little--brain {
    height: 240px;
}
.container--img-fundays img,
.container--img--mentoras img,
.container--img--little--brain img
 {
    max-width: 400px;
}

.plans--container--slider--trafico,
.plans-container--slider {
    overflow-x: hidden;
}

.plan--redes--title h2{
    font-size: 32px;
}

.plan--redes--title p ,
 .container--title-trafico p{
    height: 80px;
    font-size: 28px;
    padding-top: 20px;
    font-weight: 500;
}

.container--img--resultados--redes{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
}



.container--img--resultados--redes img {
    width: 290px;
}

.container--info--contacto{
    align-items: center;
    justify-content: space-around;
}
.container--info--contacto p {
    margin: 0 auto;
}

.container--info--contacto img{
    margin-right: 30px;
}

@keyframes linear {
    0%{
        background-color: white;
    }

    25%{
        background: rgb(45,1,64);
    background: linear-gradient(128deg, rgba(45,1,64,1) 21%, rgba(255,255,255,1) 63%);
    }

    50%{
        background-color: white;
    }

    75%{
        background: rgb(45,1,64);
    background: linear-gradient(128deg, rgba(45,1,64,1) 21%, rgba(255,255,255,1) 63%);
    }

    100%{
        background-color: white;
    }
}